body{
    background-color: #1e1e3a;
    padding-bottom: 70%;
    font-family: 'Klee One', cursive;
}
h2{
    color: #ffffff;
    text-align: center;
}
.authors{
    background-color: white;
    width: 100%;
    padding-bottom:5px;
}
h4{
    color:black;
}

hr{
    color: white;
}