body{
    background-color: #1e1e3a;
    padding-bottom: 50%;
}
h2{
    color: #ffffff;
    text-align: center;
}
.authors{
    background-color: white;
    width: 50%;
}
h4{
    color:black;
}
p{
    color:black;
}