<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
    <title>Quotes</title>
</head>

<body>
    
        <div class="container">
            <!-- <div class="shadow-lg p-1 mb-2 bg-body rounded"> -->
            <h2>Best Quotes</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div *ngFor='let quote of quotesArray; let i = index;'>
                        <div class="authors">
                            <div>
                                <h4 style="padding-left: 5px;" *ngIf='quote.upvote !== getMax() || quote.upvote === 0'>
                                   <span style="font-weight: bold;">.</span> {{ quote.quotes }}.</h4>
                                <h4 *ngIf='quote.upvote === getMax() && quote.upvote > 0' appHighlight>{{ quote.quotes}}</h4>
                            </div>
                            <div>
                                <div><strong class="author"
                                        style="color: chocolate; padding-left: 5px;">{{quote.author}}</strong><br>
                                    <button (click)='toggleDetails(i)' style="border-radius: 20%; margin-left:5px;"><span
                                            style="color: #c41919; padding-left: 5px;">Details</span></button>
                                </div>
                            </div>
                            <app-quote-detail (isDeleted)='deleteQuote($event,i)' *ngIf='quote.toggleQuote'
                                [quote]='quote'>
                            </app-quote-detail>
                            <hr style="color: black;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
                </div>
            </div>
        <!-- </div> -->
    </div>
</body>

</html>